@import '../css/colors';
@import '../css/variables';

header {
  padding: 30px;
  background: $primary;
  margin-bottom: $grid-margin;

  @media (max-width: $width-mobile) {
    padding: 15px;
    margin-bottom: ($grid-margin * .7);
  }

  h1 {
    margin: 0 auto;
    padding: 0;
    width: 325px;
    height: 86px;
    background: url('/images/logo_with_strap.png') top left no-repeat;
    background-size: 100%;

    span {
      display: none;
    }

    @media(max-width: $width-mobile) {
      width: 250px;
      height: 66px;
    }

    @media(max-width: $width-tiny) {
      width: 160px;
      height: 42px;
    }
  }

  .github-corner {
    &:hover {
      .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
      }

      @keyframes octocat-wave {
        0%,
        100% {
          transform: rotate(0deg);
        }

        20%,
        60% {
          transform: rotate(-25deg);
        }

        40%,
        80% {
          transform: rotate(10deg);
        }
      }
      @media (max-width: 500px) {
        .github-corner {
          &:hover {
            .octo-arm {
              animation: none;
            }

            .github-corner {
              .octo-arm {
                animation: octocat-wave 560ms ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
