@import '../css/colors';
@import '../css/variables';

.step-selector {
  background: $selector;
  border-radius: $border-radius;
  position: relative;
  max-width: $width-max;
  margin: 0 auto $grid-margin;

  @media (max-width: $width-max) {
    border-radius: 0;
  }

  .body {
    padding: $step-padding ($step-padding * .85);

    @media (max-width: $width-mobile) {
      padding: ($step-padding * .5) ($step-padding * .35);
    }

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .category {
      float: left;
      width: 25%;

      @media (max-width: $width-mobile) {
        width: 50%;

        &:nth-child(2n-1) {
          clear: left;
        }

        &:nth-child(n+3) {
          margin-top: ($grid-margin / 2);
        }
      }

      @media (max-width: $width-tiny) {
        float: none;
        width: 100%;
      }

      .category-body {
        padding: ($step-padding * .15);
      }

      h4 {
        font-family: $body-font;
        font-weight: 400;
        font-size: $heading-size;
        color: lighten($selector, 50%);
        text-shadow: 1px 1px 2px darken($selector, 10%);
        margin: 0 0 ($step-padding / 2);
        padding: 0;
        text-align: center;
      }

      .btn {
        background: $background;
        color: #FFF;
        outline: none;

        &:hover,
        &:focus,
        &:active {
          background: lighten($background, 5%);
        }
      }
    }
  }

  .step-top-1 {
    background: $selector;
    border: 1px solid $selector;
  }

}
