@import '../css/colors';
@import '../css/variables';

.step {
  background: #FFF;
  position: relative;
  box-shadow: 1px 1px 10px darken($background, 10%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;

  @media (max-width: $width-mobile) {
    margin-bottom: ($grid-margin * .7);
  }

  @media (max-width: $width-max) {
    border-radius: 0;
  }

  .step-header {
    background: $primary;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: #FFF;

    @media (max-width: $width-max) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &::after {
      clear: both;
      display: table;
      content: ' ';
    }

    h4 {
      font-family: $body-font;
      font-weight: 400;
      font-size: $heading-size;
      color: #FFF;
      margin: 0;
      padding: ($step-padding / 2) $step-padding;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px darken($primary, 10%);

      @media (max-width: $width-mobile) {
        padding: ($step-padding / 2);
      }
    }

    .delete {
      background: none;
      border: 0;
      border-top-right-radius: 6px;
      font-size: 22px;
      padding: 0 12px;
      color: rgba(255, 255, 255, .5);
      transition: background, color;
      transition-duration: .2s;

      &:hover,
      &:active,
      &:focus {
        color: #FFF;
        background: #E53935;
        outline: none;
      }
    }

    .btn-group {
      .btn {
        padding: 10px 13px 9px;
        text-transform: uppercase;
        background: $primary;
        color: $primary-light;
        text-shadow: 1px 1px 1px darken($primary, 5%);

        &:hover,
        &:active,
        &:focus {
          background: lighten($primary, 3%);
        }

        &.active {
          background: lighten($primary, 6%);
          color: #FFF;
        }
      }
    }
  }

  &.error {
    .step-header {
      background: $error;

      h4 {
        text-shadow: 1px 1px 1px darken($error, 20%);
      }
    }

    .step-top-1 {
      background: $error;
      border: 1px solid $error;
    }
  }

  &.broken-pipe {
    .step-header {
      background: $broken-pipe;

      h4 {
        text-shadow: 1px 1px 1px darken($broken-pipe, 20%);
      }
    }

    .step-top-1 {
      background: $broken-pipe;
      border: 1px solid $broken-pipe;
    }
  }

  .step-body {
    padding: 0;

    .data {
      font-family: $body-font;
      font-size: $body-size;
      color: $data;
      border: 0;
      width: 100%;
      outline: none;
      padding: $step-padding;
      box-sizing: border-box;

      &.calculating {
        color: lighten($data, 30%);
      }

      @media (max-width: $width-mobile) {
        padding: ($step-padding / 2);
        font-size: ($body-size * .85);
      }
    }

    .meta {
      color: #999;
      border-top: 1px dashed #EEE;
      padding-top: 5px;
      text-transform: uppercase;
      font-size: $note-size;
      margin: 0 $step-padding;
      padding-bottom: ($step-padding / 2);

      @media (max-width: $width-mobile) {
        margin: 0 ($step-padding / 2);
      }
    }

    .error {
      text-align: center;
      font-size: $message-size;
      color: $error-text;
      padding: $step-padding;

      .ionicon {
        font-size: 30px;
      }
    }

    .broken-pipe {
      text-align: center;
      font-size: $message-size;
      color: darken($broken-pipe, 10%);
      padding: $step-padding;
    }

  }

}
