@import '../css/colors';
@import '../css/variables';

.step {
  background: #FFF;
  position: relative;
  box-shadow: 0 0 5px darken($background, 5%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  border-top: 4px solid $primary;
  transition:  border-color, filter .2s linear;

  @media (max-width: $width-mobile) {
    margin-bottom: ($grid-margin * .7);
  }

  @media (max-width: $width-max) {
    border-radius: 0;
  }

  .step-header {
    background: $primary-vlight;
    color: $primary;
    transition: background-color .2s linear;
    height: 36px;

    &::after {
      clear: both;
      display: table;
      content: ' ';
    }

    h4 {
      font-family: Lato, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: $heading-size;
      color: $primary;
      margin: 0;
      padding: (($step-padding / 2) - 2) $step-padding;
      transition: color .2s linear;

      @media (max-width: $width-mobile) {
        padding: ($step-padding / 2);
      }
    }

    button {
      height: 36px;
    }

    .delete {
      background: none;
      border: 0;
      font-size: 22px;
      padding: 6px 12px;
      color: transparentize($primary, .5);
      transition: background, color;
      transition-duration: .2s;

      &:hover,
      &:active,
      &:focus {
        color: #FFF;
        background: #E53935;
        outline: none;
      }
    }

    .direction {
      font-family: $mono-font;
      background: none;
      border: 0;
      font-size: $body-size;
      padding: 11px 8px;
      color: transparentize($primary, .5);
      transition: background, color;
      transition-duration: .2s;

      &:hover,
      &:active,
      &:focus {
        color: #FFF;
        background: $primary;
        outline: none;
      }
    }

    .btn-group {
      button {
        padding: 11px 15px 10px;
        color: $primary;
        background: $primary-vlight;
        border-radius: 0;

        &:hover,
        &:active,
        &:focus {
          color: $primary;
          box-shadow: 0 -2px 0 lighten($primary, 10%) inset;
        }

        &.active {
          color: $primary;
          box-shadow: 0 -2px 0 $primary inset;
        }
      }
    }
  }

  &.error {
    border-color: $error;

    .step-header {
      background: $error-vlight;

      h4 {
        color: $error-text;
      }

      .delete {
        color: transparentize($error-text, .5);

        &:hover,
        &:active,
        &:focus {
          color: #FFF;
        }
      }
    }

    .step-top-1 {
      background: $error;
    }
  }

  &.broken-pipe {
    filter: grayscale(100%) opacity(70%);
  }

  .step-body {
    padding: 0;

    .data {
      font-family: $mono-font;
      font-size: $body-size;
      color: $mono-data;
      border: 0;
      width: 100%;
      outline: none;
      padding: $step-padding;
      box-sizing: border-box;
      line-height: 1.7;
      vertical-align: top;

      &.calculating {
        color: lighten($data, 30%);
      }

      &.true,
      &.false {
        font-weight: bold;
        margin-top: -1px;
        margin-bottom: -1px;
        padding: ($step-padding + 1) $step-padding;

        @media (max-width: $width-mobile) {
          padding: (($step-padding / 2) + 1) ($step-padding / 2);
          font-size: ($body-size * .85);
        }
      }

      &.true {
        color: #2E7D32;
        background: #C8E6C9;
      }

      &.false {
        color: #C62828;
        background: #FFCDD2;
      }

      @media (max-width: $width-mobile) {
        padding: ($step-padding / 2);
        font-size: ($body-size * .85);
      }
    }

    .meta {
      color: #999;
      border-top: 1px dashed #EEE;
      padding-top: 5px;
      font-size: $note-size;
      margin: 0 $step-padding;
      padding-bottom: ($step-padding / 2);
      line-height: 1.7;

      .warning {
        color: #E65100;

        .ionicon {
          font-size: ($note-size + 4);
          vertical-align: middle;
          line-height: $note-size;
          position: relative;
          top: -1px;
        }
      }

      .info {
        color: $primary;

        .ionicon {
          font-size: ($note-size + 4);
          vertical-align: middle;
          line-height: $note-size;
          position: relative;
          top: -1px;
        }
      }

      @media (max-width: $width-mobile) {
        margin: 0 ($step-padding / 2);
      }
    }

    .error {
      text-align: center;
      font-size: $message-size;
      color: $error-text;
      padding: $step-padding;

      .ionicon {
        font-size: 30px;
      }
    }

    .broken-pipe {
      text-align: center;
      font-size: $message-size;
      color: darken($broken-pipe, 10%);
      padding: $step-padding;

      .ionicon {
        font-size: 30px;
      }
    }

    .suggestions {
      button {
        font-family: Lato, Helvetica, Arial, sans-serif;
        background: #F5F5F5;
        color: #757575;
        outline: none;
        padding: 7px 10px;
        text-align: left;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 2px;

        &:hover,
        &:focus,
        &:active {
          background: #E0E0E0;
          color: #616161;
        }
      }
    }

  }

}
