@import '../css/colors';
@import '../css/variables';

.step-selector {
  background: #FFF;
  border-radius: $border-radius;
  position: relative;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  border-top: 4px solid $selector;

  @media (max-width: $width-max) {
    border-radius: 0;
  }

  .body {
    padding: $step-padding;

    @media (max-width: $width-mobile) {
      padding: ($step-padding / 2);
    }

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .no-matches {
      color: $data;
      font-size: $body-size;
    }

    .category {
      padding: ($grid-margin / 2) 0 (($grid-margin / 2) - 5);
      border-bottom: 1px dashed #EEE;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      h4 {
        font-family: Lato, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: $heading-size;
        color: $selector;
        margin: 0 0 ($step-padding / 2);
        padding: 3px 0;
        text-align: left;

      }

      button {
        font-family: Lato, Helvetica, Arial, sans-serif;
        background: $selector;
        color: #FFF;
        outline: none;
        padding: 7px 10px;
        text-align: left;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 3px;

        &:hover,
        &:focus,
        &:active {
          background: lighten($selector, 10%);
          color: #FFF;
        }
      }

      .btn-group {
        display: inline-block;

        .btn-group-label {
          font-family: Lato, Helvetica, Arial, sans-serif;
          font-size: $body-size;
          box-sizing: border-box;
          display: inline-block;
          border-radius: 3px 0 0 3px;
          border: 1px solid $selector;
          border-right: 0;
          font-weight: bold;
          background: #FFF;
          color: $selector;
          padding: 6px 10px;
          text-align: left;
          margin-bottom: 5px;
        }

        button {
          margin-right: 0;
          border-radius: 0;
          border-left: 1px solid transparentize(#FFF, .8);

          &:last-child {
            margin-right: 5px;
            border-radius: 0 3px 3px 0;
          }
        }
      }
    }

    .search {

      input {
        font-family: $mono-font;
        background: none;
        border: 0;
        border-bottom: 1px solid lighten($field, 40%);
        border-radius: 0;
        outline: none;
        color: $field;
        font-size: $body-size;
        line-height: 24px;
        transition: color linear .25s, border-color linear .25s;
        padding-right: 33px;
        position: relative;
        left: 33px;

        @media (max-width: $width-mobile) {
          font-size: ($body-size * .85);
        }

        &:focus,
        &:active {
          border-color: $selector;
          color: $selector;
        }
      }

      .delete {
        background: none;
        border: 0;
        font-size: 22px;
        padding: 4px 10px;
        color: #AAA;
        transition: background, color;
        transition-duration: .2s;
        position: relative;
        z-index: 1000;

        &:hover,
        &:active,
        &:focus {
          color: #E53935;
          outline: none;
        }
      }

    }
  }

  .step-top-1 {
    background: $selector;
  }

}
