@import '../../css/variables';
@import '../../css/colors';

.step-form {
  margin: ($grid-margin / 2) $grid-margin 0;
  padding-bottom: $grid-margin;
  border-bottom: 1px dashed #EEE;

  .help {
    font-size: $alert-size;
    color: $data;
    margin-bottom: ($grid-margin / 2);
  }

  @media(max-width: $width-mobile) {
    margin: ($grid-margin / 4) ($grid-margin / 2) 0;
    padding-bottom: ($grid-margin / 2);
  }

  .input-group-addon {
    border-width: 2px;
    border-color: #BDC3C7;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
  }

  .has-error {
    .input-group-addon {
      border-color: #E74C3C;
      color: $error-text;
    }
  }

  .row {
    &:last-child {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .material-group {

    margin-top: ($grid-margin / 2);

    label {
      font-size: $note-size;
      color: $primary;
      text-transform: uppercase;
      display: block;
      width: 100%;
      margin-bottom: 0;
      line-height: 18px;
      transition: color linear .25s;
    }

    input,
    select {
      font-family: $mono-font;
      background: none;
      border: 0;
      border-bottom: 1px solid lighten($field, 40%);
      border-radius: 0;
      display: block;
      width: 100%;
      outline: none;
      color: $field;
      font-size: $body-size;
      line-height: 24px;
      transition: color linear .25s, border-color linear .25s;

      @media (max-width: $width-mobile) {
        font-size: ($body-size * .85);
      }

      &:focus,
      &:active {
        border-color: $primary;
        color: $primary;
      }
    }

    select {
      // sass-lint:disable-block no-vendor-prefixes
      -webkit-appearance: none;
      padding: 1px 0;
    }

    &.has-error {
      label {
        color: $error-text;
      }

      input,
      select {
        border-color: $error;
        color: $error-text;
      }
    }

    .btn-group {

      button {
        font-family: $mono-font;
        font-size: $body-size;
        border-bottom: 1px solid lighten($field, 40%);
        color: lighten($field, 10%);
        outline: none;
        padding: 5px 0;
        text-align: left;
        transition: linear .25s;
        margin-right: 10px;
        border-radius: 0;
        background: none;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $primary;
          padding-bottom: 4px;
          border-bottom: 2px solid $primary;
        }

        &:last-child {
          margin-right: 0;
        }

        @media(max-width: $width-mobile) {
          font-size: ($body-size * .85);
        }
      }
    }

  }
}
