@import '../css/colors';
@import '../css/variables';

.notfound {
  background: darken($error, 10%);
  position: relative;
  box-shadow: 0 0 5px darken($background, 5%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  font-size: $body-size;
  padding: $grid-margin;
  color: #FFF;
  text-align: center;

  @media(max-width: $width-mobile) {
    border-radius: 0;
  }

  h1 {
    font-weight: normal;
    margin: 0;
    font-family: $mono-font;
    font-size: 300%;
  }

  a {
    color: #FFF;

    &:active,
    &:hover,
    &:focus {
      color: $error-vlight;
    }
  }
}
