$background:    #424242;
$selector:      #595959;

$primary:       #00796B;
$primary-light: #B2DFDB;

$error:         #E53935;
$broken-pipe:   #757575;

$data:          #555555;

$header-font:   'Roboto Slab', Lato, sans-serif;
$body-font:     Monaco, Menlo, Consolas, "Courier New", monospace;

$title-size:    60px;
$subtitle-size: 20px;
$heading-size:  18px;
$body-size:     16px;
$alert-size:    12px;
$note-size:     10px;