$header-font:   'Roboto Slab', sans-serif;
$sans-font:     'Lato', Arial, sans-serif;
$mono-font:     Menlo, Monaco, Consolas, 'Courier New', monospace;

$border-radius: 3px;
$grid-margin:   20px;
$step-padding:  20px;

$title-size:    50px;
$subtitle-size: 20px;
$heading-size:  18px;
$body-size:     14px;
$button-size:   14px;
$message-size:  14px;
$alert-size:    14px;
$note-size:     12px;

$width-max:     1024px;
$width-tiny:    360px;
$width-mobile:  800px
