$header-font:   'Roboto Slab', Lato, sans-serif;
$body-font:     Monaco, Menlo, Consolas, 'Courier New', monospace;

$border-radius: 6px;
$grid-margin:   20px;
$step-padding:  20px;

$title-size:    60px;
$subtitle-size: 20px;
$heading-size:  18px;
$body-size:     16px;
$alert-size:    12px;
$note-size:     10px;

$width-tiny:    360px;
$width-mobile:  800px
