@import 'css/colors';
@import 'css/variables';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans-font;
  background: $background;
  margin: 0;
  padding: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  font-size: $body-size;
  transition: .25s linear;
  padding: 10px 20px;
}

.page {
  background: #FFF;
  position: relative;
  box-shadow: 0 0 5px darken($background, 5%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  border-top: 4px solid $primary;
  transition: border-color .2s linear;
  font-size: $body-size;
  padding: $grid-margin;
  color: $data;

  h4 {
    font-size: ($body-size + 6);
    font-weight: normal;
    margin: 0 0 $grid-margin;
    padding: 0;

    span {
      color: $primary;
    }
  }

  h5 {
    font-size: ($body-size + 3);
    font-weight: normal;
    margin: 0 0 ($grid-margin / 2);
    padding: 0;
  }

  p,
  ul,
  h5 {
    margin-left: 22px;
  }
}
