body {
    background: #424242;
}

header {
    padding: 50px;
    background: #00796B;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Roboto Slab', Lato, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #004D40;
}

header h2 {
    font-family: 'Roboto Slab', Lato, sans-serif;
    color: #80CBC4;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 8px 0;
    padding: 0;
    text-transform: lowercase;
    text-shadow: 1px 1px 1px #004D40;
}

h3, h4 {
    font-family: 'Roboto Slab', Lato, sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
}

h4 {

}


textarea.code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    width: 100%;
    resize: vertical;
    font-size: 16px;
    color: #666;
    border: 1px solid #ccc;
}

textarea.code:focus {
    border: 1px solid #26A69A;
    outline: 3px solid #26A69A;
}

.result-info {
    color: #777;
    font-size: 12px;
}

.step {
    background: #fff;
    /*border: 1px solid #26A69A;*/
    position: relative;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.step-header {
    background: #00796B;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
}

.step-header:before, .step-header:after {
    display: table;
    content: " ";
}

.step-header:after {
    clear: both;
}
.step-header:before, .step-header:after {
    display: table;
    content: " ";
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.step-header .btn-group {
}
.step-header .btn-group .btn-primary {
    padding: 10px 13px 11px 13px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    text-transform: uppercase;
    background: #00796B;
    color: #80CBC4;
    text-shadow: 1px 1px 1px #004D40;
}
.step-header .btn-group .btn-primary:hover,
.step-header .btn-group .btn-primary:focus {
    background: #00897B;
}

.step-header .btn-group .btn-primary.active {
    background: #009688;
    color: #fff;
}

.step-header h4 {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #004D40;
}

.step-body {
    padding: 20px;
}

.step-tail {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 30px;
}

.step-tail-1 {
    /*position:absolute;*/
    /*bottom:-40px;*/
    /*left:50%;*/
    /*width:0;height:0;*/
    /*border-color:#26A69A transparent transparent transparent;*/
    /*border-width:20px;*/
    /*border-style:solid;*/

}

.step-tail-2 {
    position:absolute;
    bottom:-28px;
    left:50%;
    width:0;height:0;
    border-color:#fff transparent transparent transparent;
    border-width:15px;
    border-style:solid;

}

.step-top {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    right: 30px;
}

.step-top-1 {
    position: absolute;
    top: -15px;
    left: 50%;
    background: #00796B;
    display: inline-block;
    margin: 0 1em 1em 0;
    border: 1px solid #00796B;
    border-bottom: none;
    height: 15px;
    width: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}