@import 'css/colors';
@import 'css/variables';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans-font;
  background: $footer-background;
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  text-decoration: none;
  transition: .25s linear;

  &:active,
  &:hover,
  &:focus {
    color: darken($primary, 10%);
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  font-size: $body-size;
  transition: .25s linear;
  padding: 10px 20px;
}

.content {
  background: $background;
  padding: $grid-margin 0;

  @media (max-width: $width-mobile) {
    padding: ($grid-margin * .7) 0;
  }
}

.about {
  background: darken($primary, 5%);
  position: relative;
  box-shadow: 0 0 5px darken($background, 5%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  font-size: $body-size;
  padding: $grid-margin;
  color: #FFF;
  text-align: center;

  @media(max-width: $width-mobile) {
    border-radius: 0;
  }

  h1 {
    font-weight: normal;
    margin: 0;
  }

  .version {
    padding: 5px 0;
    margin-bottom: $grid-margin;
    color: $primary-light;
  }

  .author {
    margin-bottom: ($grid-margin / 2);
  }

  .github {
    padding: 5px 0;

    a {
      color: $primary-light;

      &:active,
      &:hover,
      &:focus {
        color: darken($primary-light, 20%);
      }

      span {
        font-size: ($body-size * 2.5);
      }
    }
  }

  a {
    color: #FFF;

    &:active,
    &:hover,
    &:focus {
      color: $primary-light;
    }
  }
}

.page {
  background: #FFF;
  position: relative;
  box-shadow: 0 0 5px darken($background, 5%);
  border-radius: $border-radius;
  max-width: $width-max;
  margin: 0 auto $grid-margin;
  border-top: 4px solid $primary;
  transition: border-color .2s linear;
  font-size: $body-size;
  padding: $grid-margin;
  color: $data;
  line-height: 1.7;

  @media(max-width: $width-mobile) {
    padding: ($grid-margin / 2);
    border-radius: 0;
  }

  ol {
    &.contents {
      li {
        padding: 5px 0;
      }
    }
  }

  h1 {
    margin: 0 0 $grid-margin;
    font-weight: normal;
    color: $primary;
  }

  h4 {
    font-size: ($body-size + 8);
    font-weight: normal;
    margin: $grid-margin 0;
    padding: 0;
    color: $primary;

    &:first-child {
      margin-top: 0;
    }

    span {
      color: $primary;
    }
  }

  h5 {
    font-size: ($body-size + 4);
    font-weight: normal;
    margin: 0 0 ($grid-margin / 2);
    padding: 0;
    color: $primary;
  }

  .guide-section-content {
    padding-left: 22px;
  }

  ul {
    li {
      padding: 5px 0;
    }
  }
}
