header {
    padding: 50px;
    background: #006064;

}

header h1 {
    color: #fff;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h2 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

textarea.code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    width: 100%;
}

.result-info {
    color: #777;
    font-size: 12px;
}