@import 'css/_colors.scss';

body {
  font-family: $body-font;
  background: $background;
}

header {
  padding: 30px;
  background: $primary;
  margin-bottom: 20px;
}

header h1 {
  font-family: $header-font;
  color: #fff;
  font-weight: 300;
  font-size: $title-size;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px darken($primary, 7%);
}

header h1 span {
  position: relative;
  top: 7px;
}

header h2 {
  font-family: $header-font;
  color: $primary-light;
  font-weight: 400;
  font-size: $subtitle-size;
  text-align: center;
  margin: 8px 0;
  padding: 0;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px darken($primary, 7%);
}

h4 {
  font-family: $body-font;
  font-weight: 400;
}


textarea.code {
  font-family: $body-font;
  width: 100%;
  resize: vertical;
  font-size: $body-size;
  color: $data;
  border: none;
  padding: 20px 20px 10px 20px;
}

textarea.code:focus {
  outline: none;
}

.step {
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px darken($background, 10%);
  border-radius: 6px;
}

.step-selector {
  background: $selector;
  position: relative;
  margin-bottom: 20px;
  box-shadow: none;
  border-radius: 6px;
}

.step-selector .step-body {
  padding: 20px 30px 20px 30px;
}

.step.error .step-header {
  background: $error;
}

.step.interrupt .step-header {
  background: $broken-pipe;
}

.step-header {
  background: $primary;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
}

.step-header:before, .step-header:after {
  display: table;
  content: " ";
}

.step-header:after {
  clear: both;
}
.step-header:before, .step-header:after {
  display: table;
  content: " ";
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.step-header .btn-group {
}
.step-header .btn-group .btn-primary {
  padding: 10px 13px 11px 13px;
  text-transform: uppercase;
  background: $primary;
  color: $primary-light;
  text-shadow: 1px 1px 1px darken($primary, 5%);
}
.step-header .btn-group .btn-primary:hover,
.step-header .btn-group .btn-primary:focus {
  background: lighten($primary, 3%);
}

.step-header .btn-group .btn-primary.active {
  background: lighten($primary, 6%);
  color: #fff;
}

.step-header h4 {
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  font-size: $heading-size;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px darken($primary, 10%);
}

.step.error .step-header h4 {
  text-shadow: 1px 1px 1px darken($error, 20%);
}
.step.interrupt .step-header h4 {
  text-shadow: 1px 1px 1px darken($broken-pipe, 20%);
}

.step-header .delete {
  background: none;
  border: none;
  border-top-right-radius: 6px;
  font-size: 22px;
  padding: 1px 12px 1px 12px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background, color;
  -o-transition: background, color;
  transition: background, color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.step-header .delete:hover, .step-header .delete:active, .step-header .delete:focus {
  color: #fff;
  background: #e53935;
  outline: none;
}


.step-body {
  padding: 20px;
}

.step-input .step-body {
  padding: 0 0 20px 0;
}

.step-body .message {
  color: #00897B;
  border-bottom: 1px dashed #eee;
  bottom: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: $note-size;
}

.step-body .meta {
  text-align: center;
  color: #999;
  border-top: 1px dashed #eee;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: $note-size;
}

.step-body .error {
  text-align: center;
  font-size: $alert-size;
  color: darken($error, 10%);
}

.step-body .interrupt {
  text-align: center;
  font-size: $alert-size;
  color: darken($broken-pipe, 10%);
}

.step-body .error span.ionicon {
  font-size: 30px;
}

.step-body .data {
  resize: vertical;
  font-size: $body-size;
  color: $data;
}

.step-tail {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  right: 30px;
}

.step-tail-2 {
  position: absolute;
  bottom: -28px;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff;

}
.step:last-child .step-tail {
  display: none;
}

.step-top {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  right: 30px;
}

.step-top-1 {
  position: absolute;
  top: -15px;
  left: 50%;
  background: $primary;
  display: inline-block;
  margin: 0 1em 1em 0;
  border: 1px solid $primary;
  border-bottom: none;
  height: 15px;
  width: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.step.error .step-top-1 {
  background: $error;
  border: 1px solid $error;
}
.step.interrupt .step-top-1 {
  background: $broken-pipe;
  border: 1px solid $broken-pipe;
}

.step-selector .category {
  padding-left: 3px;
  padding-right: 3px;
}

.step-selector .category h4 {
  font-size: $heading-size;
  color: lighten($selector, 60%);
  text-shadow: 1px 1px 2px darken($selector, 10%);
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}

.step-selector .step-top-1 {
  background: $selector;
  border: 1px solid $selector;
}

.step-selector .btn-inverse {
  background: $background;
  outline: none;
}
.step-selector .btn-inverse:hover, .step-selector .btn-inverse:focus, .step-selector .btn-inverse:active {
  background: lighten($background, 5%);
}