textarea.code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 16px;
  color: #555;
  width: 100%;
  resize: vertical;
  border: 0;
  padding: 20px 20px 10px; }
  textarea.code:focus {
    outline: none; }
