.step-input .step-header .btn-group .btn-clear {
  border-right: 1px solid #006054; }

.step-input .step-header .btn-group :first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.step-input .step-header .btn-group :last-child {
  border-bottom-right-radius: 0; }

.step-input .step-header .btn-group .active {
  box-shadow: 0px -2px 0px #FFF inset; }

.dropzone {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  padding: 20px;
  line-height: 22.4px;
  cursor: pointer;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .dropzone .ionicon {
    font-size: 30px;
    line-height: 38.4px; }
  .dropzone small {
    color: #6f6f6f;
    line-height: 22.4px; }
  @media (max-width: 800px) {
    .dropzone {
      padding: 10px 10px 5px;
      font-size: 12px; } }
  .dropzone.active {
    background: #E0F2F1; }
  .dropzone.reject {
    background: #FFEBEE; }
  .dropzone .file-success {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #2E7D32;
    padding-top: 10px; }
  .dropzone .file-error {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #b61b17;
    padding-top: 10px; }
