@import '../../css/colors';
@import '../../css/variables';
// Inherits style from StepComponent.scss

.step-input {
  .step-header {
    .btn-group {
      .btn-clear {
        color: transparentize($primary, .5);
        font-size: 22px;
        vertical-align: top;
        padding: 6px 12px;

        &:focus,
        &:active,
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.dropzone {
  font-size: $body-size;
  text-align: center;
  color: $data;
  padding: $step-padding;
  line-height: ($body-size * 1.4);
  cursor: pointer;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .ionicon {
    font-size: 30px;
    line-height: ($body-size * 2.4);
  }

  small {
    color: lighten($data, 10%);
    line-height: ($body-size * 1.4);
  }

  @media (max-width: $width-mobile) {
    padding: ($step-padding / 2) ($step-padding / 2) ($step-padding / 4);
    font-size: ($body-size * .75);
  }

  &.active {
    background: #E0F2F1;
  }

  &.reject {
    background: #FFEBEE;
  }

  .file-success {
    font-size: $alert-size;
    text-align: center;
    color: $success;
    padding-top: ($step-padding / 2);
  }

  .file-error {
    font-size: $alert-size;
    text-align: center;
    color: $error-text;
    padding-top: ($step-padding / 2);
  }

}

.binary {
  max-width: 500px;
  padding: 0 $grid-margin;
  margin: 0 auto $grid-margin;
  font-size: $note-size;
  text-align: center;
  color: $data;

  @media (max-width: $width-mobile) {
    padding: 0 ($grid-margin / 2);
    margin: 0 auto ($grid-margin / 2);
  }
}
