@import '../../css/colors';
@import '../../css/variables';
// Inherits style from StepComponent.scss

.step-input {
  .step-header {
    .btn-group {
      .btn-clear {
        color: transparentize($primary, .5);
        font-size: 22px;
        vertical-align: top;
        padding: 6px 12px;

        &:focus,
        &:active,
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
